
  .text-small {
    font-size: 0.9rem;
  }
  
  a {
    /* color: inherit; */
    color: #6fb0bb;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  footer {
    /* background: #6fb0bb;    */
    background: rgb(232, 243, 241);
}

#footerBody {
  text-align: center;
  background: white;
  margin: auto;
  width: 100%;
}

  a:hover, a:focus {
    text-decoration: none;
  }
  
#copyright {
    margin:auto;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-align: center;
    background-color: #6fb0bb;
}

/* #EMDRLogo {
  width: 20px;
} */

