
/* centers the logo and sets size */
#logoDiv {
  display: block;
    /* adds a background image to the div */
    /* background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255, 0)), url(../images/bannerImg.jpg); */
  background-image: url("../images/seaCropped.jpg");
  height: 25%;

  /* object cover then forces it to maintain it's dimensions */
  object-fit: cover;
  /* background-repeat: no-repeat; */
  /* object-position: right 0px bottom -5em; 20px from right and 2em from bottom */
  width: 100%;
    
  }

  
#ebbAndFlowLogoImg {

  /* amending this width changes the height of the background image div */
width: 35%;   
    /* margin auto and display block center an image in a div */
    /* centers the image in the div */
margin: auto;
display: block;

margin-top: 1%;
margin-bottom: 1%;
   
/* background-color: #ffffff; */   
padding-left: 4%;
padding-right: 4%;
padding-top: 1%;
padding-bottom: 1%; 

background: rgb(255, 255, 255, 0.9);
/* softens the edges */
/* box-shadow: 0 0 40px 40px  rgb(255, 255, 255, 0.5); */

/* give rounded corners */
/* border-radius: 200px; */
    
/* opacity: 0.977; */
/* box-shadow: 0 0 45px 70px #ffffff; */

    /* background: radial-gradient(ellipse 65% 40%, transparent 0, transparent 90%, rgb(255, 255, 255) 90%); */
    
  }
  