/* sets text fade in */
@keyframes fadeIn {
  0% {opacity: 0;}
  100%{opacity: 1;}
}

/* body {
  animation: fadeIn 0.7s;

  
} */

#anchor {
  scroll-margin-top: -200px;
}

p {
  animation: fadeIn 0.7s;
}

.wrapper {
  display: flex;
}

/* images in the cards */
.cardImg {
  margin-top: 5%;
}

h2 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-thickness: 2px;

  font-family: zap4;
  font-size: 60pt;
  font-weight: 400;
  
}

h4 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-thickness: 2px;
  /* background: radial-gradient(#ffffff, transparent); */
}

/* this pads the top of the document and prevents the nav bar covering */
.blockingDivForPageTop {
  height: 70px;
}



/* div1 holds the left place holder image and intro blurb on the right */
/* display in-line block forces the div below down and prevents overlap */
#div1 {
  animation: fadeIn 0.8s;
  display: block;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: rgba(255, 255, 255, 0.459);
  width: 100%;
}



/* intro text on the right */
#introWords {
  font-size: large;
  /* background-color: #6fb0bb; */
  text-align: justify;
  /* text-justify: inter-word; */
  width: 50%;
  display: block;
  margin: auto;
}

.flex-container {
  width: 100%;
}

.card {
  margin: auto;
  margin-top: 4%;
  
}

#whatYouCanExpectDiv {
  display: block;
  width: 100%;
  margin-top: %;
  margin-bottom: 4%;
}

#whatYouCanExpectText {
  text-align: center;
  text-align: justify;
  margin-left: 4%;
  margin-right: 4%;
}

#whatIsAClinicalPsychologistDiv {
  display: block;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 4%;
}

#whatIsAClinicalPsychologistText {
  text-align: center;
  text-align: justify;
  margin-left: 4%;
  margin-right: 4%;
}



/* div2 holds the bootstrap cards*/
#div3 {
  background-color: rgb(232, 243, 241);
  /* padding moves the about us title down */
  padding: 2%;
  display: inline-block;
  /* margin bottom moves the 'what you can expect' div title down */
  margin-bottom: 4%;
}

.btn {
    margin: auto;
    display: block;
}

.btn-primary {
  background-color: #6fb0bb !important;
  border-color: #6fb0bb !important;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: justify;
}

/* bootstrap cards end */

#aboutUs {
  width: 100%;
  padding: 2%;
  float: left;
  text-align: justify;
  text-justify: inter-word;
}

#div4 {
  display: inline-block;
  background-color: rgba(241, 162, 44, 0.459);
  width: 100%;
}

/* the div containing the contact form */
#contactID {

  width: 70%;
  background-color: #6fb0bb;
  /* margin top moves it to be inline with bottom left image */
  margin-top: 2%;
}

/* CSS for the contact form */

/* Style inputs with type="text", select elements and text areas */
input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Adds a background color and some padding around the form */
.container {
  width: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 4%;
  margin-top: 4%;
}

.whatWeOfferDiv {
  width: 100%;
  background-color: #6fb0bb;
  text-align: justify;
  /* padding-left: 10%;
      padding-right: 10%; */

}

.whatWeOfferPara {
  background-color: rgb(232, 243, 241);
  padding: 5%;

}

/* this is the formatting for the index.html last div, it forces the footer down to the bottom*/
#bottomMainPageDiv {
  display: inline-block;
  width: 100%;
}


/* the last image itself */
#lastImg {
  width: 100%;
  padding: 1%;
}

footer {
  margin-top: auto;
}

/* meet the team page */
#meetTheTeamBlurbDiv {
  background-color: #ffffff;
  display: inline-block;
  width: 100%;
}


#meetTheTeamPara {
  width: 50%;
  float: right;
  text-align: justify;
  padding: 4%;
}

#meetTheTeamBlurbImg {
  width: 50%;
  float: left;
  padding: 4%;
}

#meetTheTeamBlurbImgHidden {
  width: 50%;
  padding: 4%;
  margin: auto;
  display: block;
}




/* adds CSS to hidden text divs that become visible on small screens*/
#whatToExpectHiddenDiv {
  padding: 4%;
  text-align: justify;
}

#aboutUsHiddenDiv {
  padding: 4%;
  text-align: justify;
}

#contactContainer {
  margin-top: 25px;

}

#aboutUsImgHidden {
  width: 100%;
}

#forChildrenText {
  width: 100%;
  padding-left: 4%;
  padding-right: 4%;
  text-justify: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

#forYoungPeopleText {
  width: 100%;
  padding-left: 4%;
  padding-right: 4%;
  text-justify: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

#forParentsText {
  width: 100%;
  padding-left: 4%;
  padding-right: 4%;
  text-justify: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
