img {
    display: block;
    max-width: 100%;
    }

.nav {
        position: fixed;
        top: 0;
        width: 100%; 
        background-color: rgb(255, 255, 255);
        /* height: 6vh;  */
        padding: 1vh;
        border-bottom: 1px green;
    }

#logo {
        
        padding-top: 2%;
        margin: auto;
        width: 10%;
        
    }