    /* keeps the nav bar attached to the top of the screen  */
    #navBar {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: rgb(255, 255, 255);
      padding: 1vh;

    }

    #navBarTitle {
      display: inline;
    }

    /* this moves the dropdown menus within the nav bar */
    #navMenus {
      float: right;
    }

    h2 {
      text-align: center;
      text-decoration: underline;
      text-underline-offset: 12px;
      text-decoration-thickness: 2px;

    }

    h4 {
      text-align: center;
      text-decoration: underline;
      text-underline-offset: 12px;
      text-decoration-thickness: 2px;
    }

        /* contains the image in the 'welcome to ebb and flow' div (div1) */
        #div0 {
          margin-bottom: 4%;
          width: 50%;
          float: left;
          background-color: #6fb0bb;
        }
   

    /* centers the logo and sets size */
    #logoDiv {
      display: inline-block;    
      }

    #ebbAndFlowLogoImg {
/* margin auto and display block center an image in a div */
      margin: auto;
      display: block;

      max-width: 35%;
      max-height: 35%;
      margin-top: 70px;
      margin-bottom: 2%;
    }


    /* CSS for the image in div0 */
    #firstImg {
      width: 100%;
      padding: 2%;
      background-color: rgb(255, 255, 255);
   }

   
   /* div1 holds the left place holder image and intro blurb on the right */
   /* display in-line block forces the div below down and prevents overlap */
    #div1 {
      /* display: inline-block; */
      padding: 2%;
      /* background-color: rgba(175, 194, 67, 0.459); */
      width: 50%;
      float: right;
    }



    /* intro text on the right */
    #introWords {
      text-align: center;
      vertical-align: middle;
      /* set the margin of the p tag in the parent div */
      margin: 8%;

      padding: 2%;
      font-size: large;
      background-color: #6fb0bb;

      text-align: justify;
      text-justify: inter-word;
    }

    /* div2 holds the 'what can you expect, and about us sections*/
    #div2 {
      background-color: rgb(232, 243, 241);
      padding: 2%;
      display: inline-block;
    }

    #whatToExpect {
      width: 50%;
      padding: 2%;
      float: left;
      text-align: justify;
      text-justify: inter-word;
    }

    #aboutUs {
      width: 50%;
      padding: 2%;
      float: right;
      text-align: justify;
      text-justify: inter-word;
    }


    #div3 {
      display: inline-block;
      background-color: rgba(241, 162, 44, 0.459);
      width: 100%;
    }

    /* the div containing the contact form */
    #contactID {
      float: right;
      width: 50%;
      background-color: #6fb0bb;
      /* margin top moves it to be inline with bottom left image */
      margin-top: 0.5%;
    }

    /* CSS for the contact form */

    /* Style inputs with type="text", select elements and textareas */
    input[type=text],
    select,
    textarea {
      width: 100%;
      /* Full width */
      padding: 12px;
      /* Some padding */
      border: 1px solid #ccc;
      /* Gray border */
      border-radius: 4px;
      /* Rounded borders */
      box-sizing: border-box;
      /* Make sure that padding and width stays in place */
      margin-top: 6px;
      /* Add a top margin */
      margin-bottom: 16px;
      /* Bottom margin */
      resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
    }

    /* Style the submit button with a specific background color etc */
    input[type=submit] {
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
      background-color: #45a049;
    }

    /* Adds a background color and some padding around the form */
    .container {
      width: 100%;
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }

    .whatWeOfferDiv {
      background-color: #6fb0bb;
      text-align: justify;
      padding-left: 10%;
      padding-right: 10%;
    }

    .whatWeOfferPara {
      background-color: rgb(232, 243, 241);
      padding: 5%;
    }

    /* this is the formatting for the index.html last div, it forces the footer down to the bottom*/
    #bottomMainPageDiv {
      display: inline-block;
      width: 100%;
    }
/* the div containing the last image */
    #bottomDivImg {
      width: 50%;
      float: left;
    }
/* the last image itself */
    #lastImg {
      width: 100%;
      padding: 1%;
    }
    
    footer {
      margin-top: auto;
    }

    #meetTheTeamBlurbDiv {
      background-color: #b2e6b5;
      display: inline-block;
    }

    #meetTheTeamPara {
      width: 50%;
      text-align: justify;
      padding: 4%;
    }

    /* Media Queries below.... */


   /* hides the last image on the index page when < 600px */
   @media (max-width: 600px) {
    img#lastImg {
      display: none;
    }
    img#firstImg {
      display: none;
    }
    div#div1 {
      display: block;
      width: 100%;
    }
    div#contactID {
      width: 100%;
    }
  }

  /* media queries for the ebb and flow logo */
  @media (max-width: 780px) {
    img#ebbAndFlowLogoImg {
      margin-top: 90px;
      max-width: 50%;
      max-height: 50%;

    }
  }

  @media (max-width: 520px) {
    img#ebbAndFlowLogoImg {
      margin-top: 125px;
      max-width: 60%;
      max-height: 60%;
    }
  }